#include "zonkey.dtsi"

&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    /* トラックパッドの定義。アドレスは通常 0x2a です */
    pinnacle: pinnacle@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "okay";
        dr-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH)>; // データレディピンの割り当てを確認してください
    };
};
